.footer{
    background-color: #FFE4D2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons{
    display: flex;
    gap: 20px;
}

.footerMenu{
    list-style: none;
    display: flex;
    gap: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    background-color: #ffd8be;
}