.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: #FFE4D2;
}

.headerContent{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}