.sectionTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 5px;
    width: fit-content;
}

.sectionTitle::after{
    content: "";
    display: block;
    height: 4px;
    width: 50%;
    background-color: #FD7720;
}